.card {
  height: 100%;
  box-shadow: 0 10px 10px -10px #ccc;
  border-radius: 20px;
  border: 1px solid #e0e0e0;;
}
.is-card-image {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.name {
  font-family: 'Muli', sans-serif;
}
.name-title {
  font-family: 'Open Sans',sans-serif;
}

@media only screen and (min-width: 768px) {
  .full-screen { 
    min-height: 100vh; 
  }
}


.nav-anchor {
	color: black;
}
/*Brain*/
svg {
  display: block;
}

use, path:nth-child(2) {
  animation: waves 200s linear infinite  
}

@keyframes waves {
  0% {
    stroke-dasharray: 120 20; 
  }
  
  100% {
    stroke-dasharray: 120 20;
    stroke-dashoffset: 12000;
  }
}

svg > g {
  transform-origin: 50% 50%;
  animation: pulse ease .4s infinite alternate;
}

@keyframes pulse {
  0% { transform: scale(.995) }
  100% { transform: scale(1); }
}
path:nth-child(2) { opacity: 1.0; }
path { fill: pink; }
/* End Brain */

.fa-envelope {
  color: white;
}
.fa-twitter {
  color:white;
}
.fa-linkedin {
  color:white;
}
.fa-strava {
  color:white;
}
.fa-strava:hover{
  color:#fc4c02;
}
.fa-envelope:hover {
  color: #DB4437;
}
.fa-twitter:hover{
  color:#1DA1F2;
}
.fa-linkedin:hover{
  color:#0077B5;
}
a.anchor {
  display: block;
  position: relative;
  top: -75px;
  visibility: hidden;
}
.is-divider {
  border-left: 1px solid darkgray;
  margin: auto 10px;
  height: 30px;
}
.contact {
  font-family: 'Libre Franklin',sans-serif;
  letter-spacing: 2.5px;
  padding-bottom:3rem;
}
.navbar {
  font-family: 'Libre Franklin',sans-serif;
}
.title {
  font-family: 'Libre Franklin',sans-serif;
}
.is-256x256 {
  height: 256px;
  width: 256px;
}
.column.is-flex {
  justify-content: center;
}